#bomb {
	display: block;
	margin: auto;
	height: 400px;
}
body{
	background-image: url("background2.jpg");
	background-repeat:no-repeat;
    background-size: cover;
}
#player {
	display: block;
	margin-top: 5%;
	margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}

#hold {
	position: absolute;
	left: 44%;
}

#next {
	position: absolute;
	left: 49%;
}

#retry {
	position: absolute;
	left: 47%;

}

#intro {
	position: absolute;
	top: 47%;
	text-align: center;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 標楷體;
	font-size: 160%;
	z-index: 4;
}

#rulesintro {
	position: absolute;
	top: 47%;
	text-align: center;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 標楷體;
	font-size: 180%;
	z-index: 4;
}

#rules {
	position: absolute;
	left: 43%;
	top: 76%;
	z-index: 3;
}

#start {
	position: absolute;
	left: 53%;
	top: 76%;
	z-index: 2;
}

#back {
	position: absolute;
	top:70%;
	left:50%;
	transform: translate(-50%,-50%);
}

#stbkgrd {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.7);
	width: 1000px;
	height: 800px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -100;
}